body{
    background-image: url('./salesforce-debug-and-deployment-tools-wallapaper.jpeg');
    background-position: center;
    opacity: 1;
    color: #f00;
    font-size: x-large;
}
#passingScore{
    color: #000;
}